version: 2
updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
    commit-message:
      prefix: "chore(dependabot)"
      prefix-development: "chore(dependabot)"
    groups:
      ci-dependencies:
        applies-to: version-updates
        patterns: ["*"]
        update-types:
          - "minor"
          - "patch"
  - package-ecosystem: cargo
    directory: /
    schedule:
      interval: weekly
    commit-message:
      prefix: "chore(dependabot)"
      prefix-development: "chore(dependabot)"
    groups:
      rust-dependencies:
        applies-to: version-updates
        patterns: ["*"]
        update-types:
          - "minor"
          - "patch"
