[package]
name = "temporal_rs" # Working name - TODO: Update name to decided.
keywords = ["javascript", "js", "temporal", "calendar", "date", "time", "timezone"]
categories = ["date", "time", "calendars"]
readme = "./README.md"
description = "Temporal in Rust is an implementation of TC39 Temporal Builtin Proposal in Rust."
version = "0.0.1"
edition = "2021"
authors = ["boa-dev"]
license = "MIT"
repository = "https://github.com/boa-dev/temporal"
rust-version = "1.74"

[dependencies]
tinystr = "0.7.4"
icu_calendar = { version = "~1.4.0", default-features = true }
rustc-hash = { version = "1.1.0", features = ["std"] }
bitflags = "2.4.2"
num-bigint = { version = "0.4.4", features = ["serde"] }
num-traits = "0.2.17"
