[package]
name = "temporal_rs"
keywords = ["date", "time", "calendar", "timezone", "duration"]
categories = ["date-and-time", "internationalization"]
readme = "./README.md"
description = "Temporal in Rust is an implementation of the TC39 Temporal Builtin Proposal in Rust."
version = "0.0.3"
edition = "2021"
authors = ["boa-dev"]
license = "MIT OR Apache-2.0"
repository = "https://github.com/boa-dev/temporal"
rust-version = "1.79"
exclude = [
    "docs/*",
    ".github/*",
    ".gitignore",
    "LICENSE*",
]

[dependencies]
tinystr = "0.7.6"
icu_calendar = { version = "1.5.2", default-features = false, features = ["compiled_data"] }
rustc-hash = { version = "2.0.0", features = ["std"] }
num-bigint = { version = "0.4.6", features = ["serde"] }
num-traits = "0.2.19"
ixdtf = { version = "0.2.0", features = ["duration"]}
bitflags = "2.6.0"
